.cardss {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 20px;
}

.cardss:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerss {
  padding: 2px 16px;
}

.bold {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.biasa {
  font-size: 15px;
  margin-bottom: 30px;
}

.button {
  color: #0cecdd;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06d85f;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.tanda {
  text-align: right;
  margin-top: -20px;
}

.tanda-2 {
  text-align: right;
  margin: -20px 25px 25px 0px;
}

.des {
  margin: 25px 0px 15px 0px;
}

.card-oness {
  flex-wrap: wrap;
}

.direct {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
